.loginWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.loginImage {
  max-height: 100vh;
  width: 100%;
}

.loginFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 60px 0;
  max-height: 100vh;
  height: 100%;
  overflow-y: auto;
}

.centeredFormWrapper {
  justify-content: center;
}

.logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 24px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.link {
  color: var(--primary-green);
  font-size: var(--size-text-sm);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.link:hover,
.link:focus-visible {
  color: var(--dark-green);
}

.backButton {
  position: absolute;
  top: 60px;
  left: 80px;
}
