.categoryButton {
  background-color: var(--light-green);
  border: 1px solid var(--primary-green);
  border-radius: 12px;
  color: var(--dark-green);
  padding: 16px;
  font-family: "Funnel Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.48px;
  width: 180px;
  overflow: hidden;
  cursor: pointer;
}

@media (width <= 991px) {
  .categoryButton {
    white-space: initial;
  }
}
